
.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

#lasCoders div {
    width: 20%;
}
#lasCoders div img{
    width: 100%;
    border-radius: 20px;
}
